@charset "UTF-8";
        p {
           text-align: justify;
          


        }
       body {
           background-color: lightblue;
           font-family: 20px;
       }
       h1{
        color: brown;
       }
       h2{
         color: blueviolet;
         background-color: black;

       }
    